@charset "utf-8";
/* try */
.biomain
{
	width:100%;
	margin-top:-15px;
}
.mypho
{
	  float:left;
        width:30%;
        height:80%;
		
}
.bio
{
	  float:right;
        width:60%;
        height:100%;
		
}
.Clear{
    clear:both;
}