
<!-- Page Header -->
<header class="intro-header">
  <div class="container"> 
   <!-- <div class="row portrait">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <img class="img-responsive img-thumbnail center-block" src="{{ site.portrait }}" alt="portrait">
      </div>
    </div>

	<div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>{{ site.author }}</h1>
        <hr class="small">
        <p class="lead">{{ site.subheading }}</p>
      </div>
    </div>-->
    
  <div class="biomain">
     <div class="mypho">
         <img class="img-responsive img-thumbnail center-block" src="{{ site.portrait }}" alt="portrait">
         <!-- <li class="list-email"><a href="#">cy@cs.dartmouth.edu</a></li>
         <li class="list-address"><a href="#">Sudikoff 157</a></li> -->
     </div>
     <div class="bio">
		 <h1>{{ site.author }}</h1>
        <hr class="base">
     <h3>{{ site.brief }}</h3>
     <h3>{{ site.interest }}</h3>
        <hr class="base">
     <h6 class = "lead">{{ site.subheading }}</h6>
       <hr class="base">
     <h6 class="list-email"><a href="mailto:cy@cs.dartmouth.edu">cy@cs.dartmouth.edu</a></h6>
     <h6 class="list-address"><a href="https://www.google.com/maps/place/Dartmouth+College:+Sudikoff+Lab/@43.705644,-72.2878735,17z/data=!4m13!1m7!3m6!1s0x4cb4c9c4a0e67521:0x9fb015af8e2f43aa!2sMaynard+St,+Hanover,+NH+03755!3b1!8m2!3d43.7073829!4d-72.2872864!3m4!1s0x4cb4c9c4a19d0989:0xc99a2845d4ab57ff!8m2!3d43.7068416!4d-72.2870545">Sudikoff 157, Dartmouth College</a></h6>
		<!-- <p class="lead">RM 366-501, East Campus USTC<br>Hefei, Anhui 230026, P.R.China</p> -->
		<!-- <p class="lead">Email: bchy1023@gmail.com</p> -->
     </div>
     
  </div>
     <div class="Clear">
     
    <noscript>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="alert alert-danger" role="alert">Enable JavaScript to unlock Galleries, BibTeXs, and the Contact Form.			          </div>
        </div>
      </div>
    </noscript>

  </div>
</header>
