<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include ga.html %}

{% include navbar.html %}

{% include header.html %}

{% include publications_featured.html %}

{% include publications_additional.html %}

{% include talks.html %}

{% include carousel.html %}

<!--{% include teaching.html %}-->

<!--{% include activities.html %}-->
{% include videos.html %}

<!--{% include contact.html %}-->

{% include footer.html %}

{% include scripts.html %}

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11148414; 
var sc_invisible=0; 
var sc_security="12df4bbc"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="shopify visitor
statistics" href="http://statcounter.com/shopify/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/11148414/0/12df4bbc/0/"
alt="shopify visitor statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

</body>

</html>
